*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100%;

}
table{
    border: 2px;
    padding: 0%;
    margin: 0%;
    border: 1px solid;
    height: 60vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
}
thead{
}