*{
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;
    background-color: purple;
    display: flex;
    flex-direction: row;
}

.logo {
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.search_btn{
    width: 50px;
    height: 50px;
}
.search_btn > img{
    width: 50px;
    height: 50px;
}
input{
    width: 300px;
    height: 50px;
}
form{
    justify-content: space-between;
}

.header_bar>li {
    flex-direction: column-reverse;
    min-width: 100px;
    list-style: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;

}