*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.main{
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items : center;
    background-size: cover;
}
.container{
    flex-direction: column;
} 
header{
    width: auto;
    height: 30vh;
    background-color: aqua;
}
footer{
    background-color: purple;
    height: 20vh;
} 
label{
    min-width: 100px;
}
button{
    width: 200px;
    background-color: green;
    border: none;
    
}
input{
    width: 200px;
}